@font-face {
  font-family: "custom";
  src: url("../fonts/custom.eot?yjhs1v");
  src: url("../fonts/custom.eot?yjhs1v#iefix") format("embedded-opentype"), url("../fonts/custom.ttf?yjhs1v") format("truetype"), url("../fonts/custom.woff?yjhs1v") format("woff"), url("../fonts/custom.svg?yjhs1v#custom") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "custom" !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-youtube:before {
  content: "\1f32c";
}

.icon-twitter:before {
  content: "\1f32b";
}

.icon-instagram:before {
  content: "\1f321";
}

.icon-check:before {
  content: "\1f322";
}

.icon-arrow-right:before {
  content: "\1f323";
}

.icon-facebook:before {
  content: "\1f329";
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 482px;
  margin-top: 14.5%;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  margin-left: auto;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 26px;
}

nav ul li {
  margin-right: 30px;
  margin-top: 0.6rem;
}

nav ul li:last-child {
  margin-right: 0;
}

nav ul li a {
  color: #6a707b;
  text-decoration: none;
}

@media (max-height: 412px) {
  .subscribe {
    height: 100% !important;
    padding: 1rem 0;
  }
}

@media (min-width: 992px) and (max-height: 494px) {
  .bg-image {
    height: auto !important;
  }
}

@media (min-width: 992px) and (max-height: 604px) {
  nav {
    margin-top: 0;
    margin-bottom: 14.5%;
  }
  .subscribe {
    height: 100% !important;
  }
  .bg-image {
    height: 100vh;
  }
}

@media (max-width: 767.98px) {
  .subscribe__area {
    width: 89.2% !important;
  }
}

@media (max-width: 991.98px) {
  .bg-image {
    display: none;
  }
  h2 {
    font-size: 24px;
    line-height: 34px;
    margin-bottom: 10px;
  }
  nav {
    background-color: #fff;
    width: 100%;
    position: fixed;
    margin-top: 0;
    top: 0;
    padding: 10px 20px 12px 20px;
  }
  nav .logo {
    display: none;
  }
  nav ul {
    font-size: 14px;
    line-height: 24px;
    font-style: normal;
    font-weight: normal;
  }
  nav ul li {
    margin-right: 20px;
    margin-top: 0.2rem;
  }
  .subscribe {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-image: url(../img/pineapples.png);
    width: 100%;
    background-size: cover;
    background-position-x: 58%;
    background-repeat: no-repeat;
    margin-top: 4.2rem;
    height: calc(100vh - 4.2rem);
  }
  .subscribe__area {
    width: 461px;
    padding: 30px 20px;
    background-color: #fff;
  }
  .subscribe__area form {
    padding-bottom: 21px;
  }
  .subscribe__area form .input-email-area {
    width: 100%;
    height: 60px;
    margin-bottom: 20px;
  }
  .subscribe__area form .input-email-area input[type="text"] {
    padding-left: 15px;
    height: 60px;
  }
  .subscribe__area form .input-email-area button {
    width: 54px;
  }
  .subscribe__area form .checkbox i {
    font-size: 10px !important;
    margin-top: 0.1rem;
  }
  .subscribe__area .success img {
    margin-bottom: 39px;
  }
  .subscribe__area .success h2 {
    margin-bottom: 10px;
  }
  .subscribe__area .success .description {
    border-bottom: 1px solid #e3e3e4;
    margin-bottom: 0;
    padding-bottom: 39px;
  }
  .subscribe__area .description {
    font-size: 14px;
    line-height: 26px;
    margin-bottom: 20px;
  }
  .subscribe .social__block {
    margin-right: 10px;
    margin-top: 20px;
  }
  .subscribe .social__block:last-child {
    margin-right: 15px !important;
  }
}

@media (min-width: 992px) {
  h2 {
    font-size: 32px;
    line-height: 44px;
    margin-bottom: 15px;
  }
  nav {
    margin-bottom: -0.7rem;
  }
  nav .logo-mobile {
    display: none;
  }
  .bg-image {
    height: 100vh;
  }
  .subscribe {
    width: 680px;
  }
  .subscribe__area {
    width: 400px;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    margin: 0 auto;
  }
  .subscribe__area.sended {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .subscribe__area.sended #subscribe {
    margin-top: 8.4rem;
  }
  .subscribe__area .social__block {
    margin-top: 50px;
    margin-right: 20px;
  }
  .subscribe__area form {
    padding-bottom: 51px;
  }
  .subscribe__area form .input-email-area {
    width: 663px;
    height: 70px;
    margin-left: -2.5rem;
    margin-bottom: 53px;
  }
  .subscribe__area form .input-email-area button {
    width: 83px;
  }
  .subscribe__area form .input-email-area button i {
    margin-right: 1.3rem;
  }
  .subscribe__area form .input-email-area input[type="text"] {
    padding-left: 40px;
    height: 70px;
  }
  .subscribe__area form .input-email-area .error-messages-area {
    margin-left: 2.5rem;
  }
  .subscribe__area .success img {
    margin-bottom: 30px;
  }
  .subscribe__area .success h2 {
    margin-bottom: 20px;
  }
  .subscribe__area .success .description {
    border-bottom: 1px solid #e3e3e4;
    margin-bottom: 0;
    padding-bottom: 50px;
  }
  .subscribe__area .description {
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 50px;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h2 {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #131821;
}

p,
label {
  color: #6a707b;
}

h2,
p {
  font-style: normal;
  font-weight: normal;
}

main.subscriber-list {
  display: block;
  margin-top: 2rem;
}

main.subscriber-list a {
  padding: 10px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  display: inline-block;
  text-decoration: none;
  position: fixed;
  top: 0;
  left: 0;
}

main.subscriber-list table {
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
}

main.subscriber-list table thead {
  text-transform: uppercase;
  background-color: lightblue;
}

main.subscriber-list table tbody tr:hover {
  background-color: #ddd;
}

main.subscriber-list table tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

main.subscriber-list table th,
main.subscriber-list table td {
  padding: 8px;
  border: 1px solid #ddd;
}

main.subscriber-list .providers,
main.subscriber-list .search,
main.subscriber-list .order {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 1rem;
}

main.subscriber-list .providers button,
main.subscriber-list .search button,
main.subscriber-list .order button {
  background: rgba(0, 0, 0, 0.65);
  color: white;
  border-radius: 7px;
  padding: 10px 16px;
  border: 0;
  cursor: pointer;
  padding: 7px 7px;
}

main.subscriber-list .providers button:hover,
main.subscriber-list .search button:hover,
main.subscriber-list .order button:hover {
  background-color: #000;
}

main.subscriber-list .order form {
  margin-right: 1rem;
}

main.subscriber-list .providers form {
  margin-right: 1rem;
}

main.subscriber-list .providers button.active {
  background: black;
}

main,
.social,
.social__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.bg-image {
  background-image: url(../img/pineapples.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.subscribe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  z-index: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.subscribe__area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.subscribe__area .social {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.subscribe__area .social__block {
  text-decoration: none;
  width: 46px;
  height: 46px;
  border: 2px solid #e3e3e4;
  border-radius: 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.subscribe__area .social__block:last-child {
  margin-right: 0;
}

.subscribe__area .social__block i {
  opacity: 0.3;
  color: #131821;
  font-size: 13px;
}

.subscribe__area .social__block:hover i, .subscribe__area .social__block:active i {
  color: #fff;
  opacity: 1;
}

.subscribe__area .social__block:hover {
  -webkit-box-shadow: 0px 20px 40px rgba(19, 24, 33, 0.3);
          box-shadow: 0px 20px 40px rgba(19, 24, 33, 0.3);
}

.subscribe__area .social__block:hover.facebook {
  background-color: #4267b2;
  border-color: #4267b2;
}

.subscribe__area .social__block:hover.insta {
  background-color: #c13584;
  border-color: #c13584;
}

.subscribe__area .social__block:hover.twitter {
  background-color: #1da1f2;
  border-color: #1da1f2;
}

.subscribe__area .social__block:hover.youtube {
  background-color: #ff0000;
  border-color: #ff0000;
}

.subscribe__area .social__block:active.facebook {
  background-color: #2f4a80;
  border-color: #2f4a80;
}

.subscribe__area .social__block:active.insta {
  background-color: #8f2762;
  border-color: #8f2762;
}

.subscribe__area .social__block:active.twitter {
  background-color: #177fbf;
  border-color: #177fbf;
}

.subscribe__area .social__block:active.youtube {
  background-color: #cc0000;
  border-color: #cc0000;
}

.subscribe__area .description {
  font-family: Arial, Helvetica, sans-serif;
}

.subscribe__area form {
  border-bottom: 1px solid #e3e3e4;
}

.subscribe__area form .input-email-area {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-left: 4px solid #4066a5;
}

.subscribe__area form .input-email-area button {
  position: absolute;
  right: 0;
  height: 100%;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  outline: none;
}

.subscribe__area form .input-email-area button i {
  opacity: 0.3;
}

.subscribe__area form .input-email-area button:disabled {
  cursor: no-drop;
}

.subscribe__area form .input-email-area .error-messages-area {
  font-family: Arial, Helvetica, sans-serif;
  color: red;
}

.subscribe__area form .checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.subscribe__area form .checkbox label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.subscribe__area form .checkbox label:after {
  content: "";
  display: table;
  clear: both;
}

.subscribe__area form .checkbox label input[type="checkbox"] {
  display: none;
}

.subscribe__area form .checkbox label input[type="checkbox"]:checked + .custom-checkbox,
.subscribe__area form .checkbox label input[type="checkbox"]:checked + .custom-checkbox > i {
  opacity: 1;
  background-color: #4066a5;
}

.subscribe__area form .checkbox label input[type="checkbox"] + .custom-checkbox > i {
  opacity: 0;
}

.subscribe__area form .checkbox .custom-checkbox {
  position: relative;
  display: inline-block;
  background: #ffffff;
  border: 1px solid #e3e3e4;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 3px;
  width: 26px;
  height: 26px;
  float: left;
  margin-right: 15px;
}

.subscribe__area form .checkbox .custom-checkbox i {
  position: absolute;
  font-size: 0.8em;
  line-height: 0;
  top: 50%;
  left: 15%;
  margin-left: 2px;
  color: #fff;
}

.subscribe__area form label {
  font-family: Arial, Helvetica, sans-serif;
}

.subscribe__area form label a {
  color: #000;
}

.subscribe__area form label a:hover {
  color: #4066a5;
}

.subscribe__area form label a:active {
  color: #233759;
}

.subscribe__area form input[type="text"] {
  font-family: Arial, Helvetica, sans-serif;
  background: #ffffff;
  border: 1px solid #e3e3e4;
  border-left: none;
  width: 100%;
  font-size: 16px;
  line-height: 24px;
}

.subscribe__area form input[type="text"]:hover, .subscribe__area form input[type="text"]:focus {
  -webkit-box-shadow: 0px 30px 40px rgba(19, 24, 33, 0.06);
          box-shadow: 0px 30px 40px rgba(19, 24, 33, 0.06);
  border-left: 0 !important;
}

.subscribe__area form input[type="text"]:hover {
  border-color: #4066a5;
}

.subscribe__area form input[type="text"]:hover + button i {
  color: #4066a5;
  opacity: 1;
}

.subscribe__area form input[type="text"]:focus {
  outline: none;
  border: 1px solid #e3e3e4;
}
/*# sourceMappingURL=style.css.map */